## Data Cleaning of files

### Any changes can be made to generate new files

In [2]:
import pandas as pd
import numpy as np
import os 

#input for any file name
file_name=input("Enter File Name: ")
journey=input("Enter 'up' or 'down': ").lower()
file_path=os.path.join('week_data',journey, file_name)

if not os.path.isfile(file_path):
    print(f"Error: File '{file_name}' does not exist.")
else:
    df=pd.read_csv(file_path)

Enter File Name: 04-02-2019.csv
Enter 'up' or 'down': up

In [3]:
#data renaming 
rename_stages = {
    'THORAIPAKK|THURAIPAKK': 'THORAIPAKKAM',
    'ANNA UNIVE': 'ANNA UNIV',
    'MOOTAIKARA': 'M K CHAVADI',
    'SHOZHANGAN|SHOZHINGAN': 'SHOLINGANALLUR',
    'KELAMBAKKA':'KELAMBAKKAM',
    'KOMAN NGR': 'KUMARAN NG',
    'M.K. CHAVA': 'M K CHAVADI',
    'WOMENS POL': 'WPTC',
    'THIRUPPORU|TIRUPPORUR': 'THIRUPORUR'  
}
df = df.replace(rename_stages, regex=True)

df['Source'] = df['Source'].str.strip()
df['Destination'] = df['Destination'].str.strip()
df['From Stage'] = df['From Stage'].str.strip()
df['To Stage'] = df['To Stage'].str.strip()


#convertion of time to datetime format for calculation
df['Trip Start Time'] = pd.to_datetime(df['Trip Start Time'], format='%H:%M:%S')
df['Trip End Time'] = pd.to_datetime(df['Trip End Time'], format='%H:%M:%S')

#calculation of duration 
df['Duration'] = df['Trip End Time'] - df['Trip Start Time']
df['Trip Start Time'] = df['Trip Start Time'].dt.time
df['Trip End Time'] = df['Trip End Time'].dt.time
df['Duration'] = df['Duration'].apply(lambda x: str(x).split()[-1])

df['Duration'] = df['Duration'].astype(str)
df = df[~df['Duration'].str.contains('+', regex=False)]
df = df[(df['Duration'] != '00:00:00') & (df['Duration'] != '00:01:00')]
df.drop(columns=['Duration'],inplace=True)

In [4]:
#store the modified csv file
file_name=input("Enter File Name to store : ")
file_path=os.path.join('week_data',journey, file_name)

df.to_csv(file_path,index=False)
df=pd.read_csv(file_path)
df.info()

Enter File Name to store : 04-02-19.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56021 entries, 0 to 56020
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   WayBill No          56021 non-null  object
 1   Depot               56021 non-null  object
 2   Schedule Name       56021 non-null  object
 3   ETM No              56021 non-null  object
 4   Out Date            56021 non-null  object
 5   Out Time            56021 non-null  object
 6   In Date             55868 non-null  object
 7   In Time             56021 non-null  object
 8   Total Amount        56021 non-null  int64
 9   Adult               56021 non-null  int64
 10  Child               56021 non-null  int64
 11  Ticket Issued Date  56021 non-null  object
 12  Ticket Issued Time  56021 non-null  object
 13  From Stage          56021 non-null  object
 14  To Stage            56021 non-null  object
 15  Fleet No            56021 non-null  object
 16  Denomination        56021 non-null  int64
 17  Ticket Type         56021 non-null  object
 18  Luggage             56021 non-null  int64
 19  Ticket_No           56021 non-null  object
 20  Trip No             56021 non-null  int64
 21  Concession          56021 non-null  int64
 22  Conductor ID        56021 non-null  object
 23  Driver ID           56021 non-null  object
 24  Trip Start Date     56021 non-null  object
 25  Trip Start Time     56021 non-null  object
 26  Trip End Date       56021 non-null  object
 27  Trip End Time       56021 non-null  object
 28  Source              56021 non-null  object
 29  Destination         56021 non-null  object
dtypes: int64(7), object(23)
memory usage: 12.8+ MB

In [6]:
arr=df['Depot'].unique()
arr

array(['PERUMBAKKAM', 'K.K.NAGAR', 'ADYAR', 'ANNA NAGAR', 'VADAPALANI',
       'CENTRAL', 'CHROMEPET', 'TAMBARAM', 'THIRUVANMIYUR',
       'CHEMMANCHERRY', 'SAIDAPET', 'KANNAGI NAGAR', 'BESANT NAGAR',
       'CHROMPET-2', 'T.NAGAR'], dtype=object)

In [7]:
print(len(arr))

15

In [14]:
df=pd.read_csv(chosen_file)
arr=df['Schedule Name'].unique()
filtered_identifiers = {identifier.split('-')[0] for identifier in arr}
filtered_identifiers

{'102',
 '102A',
 '102C',
 '102CT',
 '102K',
 '102P',
 '102S',
 '102X',
 '109',
 '119',
 '119CT',
 '119S',
 '119T',
 '19A',
 '19B',
 '19BET',
 '19D',
 '21L',
 '221',
 '221CT',
 '519',
 '519T',
 '522',
 '523',
 '523A',
 '568B',
 '570',
 '570C',
 '570ET',
 '570S',
 '570T',
 '91',
 '91ET',
 '91NS',
 '91V',
 '95',
 '95CTGS',
 '95G',
 '95NS',
 '95SP',
 '95X'}

In [19]:
temp_df=df[df['Schedule Name']=='519-A1-AS-MDE']
unique_df=temp_df['Source'].unique()
unique_df

array(['THIRUPORUR', 'ADYAR B.S.'], dtype=object)