In [83]:
import pandas as pd
import datetime

df=pd.read_csv('04-02-19.csv')
cols=['Schedule Name','Adult','Ticket Issued Time','From Stage','To Stage','Source','Destination']
df=df[cols]

# bus_no =519
# df = df[df['Schedule Name'].str.contains(rf'\b{bus_no}\b')]
df=df[df['Schedule Name']=='519-A1-AS-MDE']
df=df[(df['Source']=='T.NAGAR') & (df['Destination']=='THIRUPORUR')]

In [84]:
import numpy as np
bus_stages = ['T.NAGAR', 'SAIDAPET', 'ANNA UNIV', 'WPTC', 'SRP TOOLS', 'KANDANCHAV', 'THORAIPAKKAM', 
              'M K CHAVADI', 'KARAPAKKAM', 'SHOLINGANALLUR', 'KUMARAN NG', 'CHEMMANCHE', 'NAVALUR', 
              'SIPCOT', 'CHURCH', 'PAL. CHEMI', 'HINDUSTAN', 'KELAMBAKKAM', 'KOMAN NAGAR', 'ENGG', 
              'CHENGAMMAL', 'KALAVAKKAM', 'THIRUPORUR']

# Convert 'Ticket Issued Time' to datetime
df['Ticket Issued Time'] = pd.to_datetime(df['Ticket Issued Time'], format='%H:%M:%S')

# Define the time interval
start_time = pd.to_datetime('08:00:00', format='%H:%M:%S').time()
end_time = pd.to_datetime('09:59:59', format='%H:%M:%S').time()

# Filter rows where 'Ticket Issued Time' is between 8:00:00 and 8:59:59
df_filtered = df[(df['Ticket Issued Time'].dt.time >= start_time) & (df['Ticket Issued Time'].dt.time <= end_time)]

# Group by 'From Stage' and calculate the average 'Ticket Issued Time' for each group (hours and minutes only)
def average_hour_minute(times):
    total_minutes = times.dt.hour * 60 + times.dt.minute
    avg_minutes = total_minutes.mean()
    avg_hour = int(avg_minutes // 60)
    avg_minute = int(avg_minutes % 60)
    return f'{avg_hour:02}:{avg_minute:02}'

avg_ticket_issued_time = df_filtered.groupby('From Stage')['Ticket Issued Time'].apply(average_hour_minute).reset_index()

# Display the result
print(avg_ticket_issued_time)

        From Stage Ticket Issued Time
0        ANNA UNIV              08:51
1       CHEMMANCHE              09:51
2           CHURCH              09:58
3       KUMARAN NG              09:48
4          NAVALUR              09:54
5         SAIDAPET              08:42
6   SHOLINGANALLUR              09:43
7        SRP TOOLS              09:10
8          T.NAGAR              08:35
9   THORAIPAKKAMAM              09:25
10            WPTC              09:06

In [85]:

for stage in bus_stages:
    print(stage)
    print(" ")
    df_stage = df[df['From Stage'] == stage].copy()
    df_stage['Ticket Issued Time'] = pd.to_datetime(df_stage['Ticket Issued Time'], format='%H:%M:%S', errors='coerce')
    df_stage['Hour'] = df_stage['Ticket Issued Time'].dt.hour 
    df_stage['Hour'] = df_stage['Ticket Issued Time'].dt.hour
    df_stage['Minute'] = df_stage['Ticket Issued Time'].dt.minute

    if not df_stage[df_stage['Hour'] == 8].empty:
        df_stage = df_stage[df_stage['Hour'] == 8]
    else:
        df_stage = df_stage[df_stage['Hour'] == 9]

    average_hour = df_stage['Hour'].mean()
    average_minute = df_stage['Minute'].mean()
    if np.isnan(average_minute):
        average_minute = 0
    
    average_minute_rounded = round(average_minute)
    average_time = datetime.time(int(average_hour), int(average_minute_rounded))

    print("Average Time:", average_time)
    
    # Print the rounded average minute
    print(f"For stage {stage}, average minute: {average_minute_rounded}")

T.NAGAR

Average Time: 08:35:00
For stage T.NAGAR, average minute: 35
SAIDAPET

Average Time: 08:42:00
For stage SAIDAPET, average minute: 42
ANNA UNIV

Average Time: 08:49:00
For stage ANNA UNIV, average minute: 49
WPTC

Average Time: 09:06:00
For stage WPTC, average minute: 6
SRP TOOLS

Average Time: 09:10:00
For stage SRP TOOLS, average minute: 10
KANDANCHAV

ValueError: cannot convert float NaN to integer

In [ ]:
import pandas as pd

# Assuming your data is in a DataFrame called df
df = pd.DataFrame({
    'Schedule Name': [47453, 47454, 47455, 47456, 47457, 51794, 51795, 51796, 51797, 51798],
    'Adult': [1, 1, 1, 1, 1, 4, 1, 1, 1, 1],
    'Ticket Issued Time': ['05:23:59', '05:25:16', '05:25:27', '05:25:55', '05:26:28', '23:04:37', '23:04:55', '23:05:34', '23:08:19', '23:08:35'],
    'From Stage': ['T.NAGAR', 'SAIDAPET', 'SAIDAPET', 'SAIDAPET', 'SAIDAPET', 'SHOLINGANALLUR', 'SHOLINGANALLUR', 'SHOLINGANALLUR', 'KUMARAN NG', 'KUMARAN NG'],
    'To Stage': ['M K CHAVADI', 'THORAIPAKKAMAM', 'PAL. CHEMI', 'THIRUPORUR', 'KANDANCHAV', 'KELAMBAKKAMM', 'NAVALUR', 'NAVALUR', 'NAVALUR', 'CHENGAMMAL'],
    'Source': ['T.NAGAR', 'T.NAGAR', 'T.NAGAR', 'T.NAGAR', 'T.NAGAR', 'T.NAGAR', 'T.NAGAR', 'T.NAGAR', 'T.NAGAR', 'T.NAGAR'],
    'Destination': ['THIRUPORUR', 'THIRUPORUR', 'THIRUPORUR', 'THIRUPORUR', 'THIRUPORUR', 'THIRUPORUR', 'THIRUPORUR', 'THIRUPORUR', 'THIRUPORUR', 'THIRUPORUR']
})

# Convert 'Ticket Issued Time' to datetime
df['Ticket Issued Time'] = pd.to_datetime(df['Ticket Issued Time'], format='%H:%M:%S').dt.time

# Group by 'From Stage' and find the minimum 'Ticket Issued Time' for each group
min_ticket_issued_time = df.groupby('From Stage')['Ticket Issued Time'].min().reset_index()

# Display the result
print(min_ticket_issued_time)